.MainArea{
    display:flex;
    justify-content:space-between;

}
#ligne1{
    width: 235px;
    color: rgba(117, 116, 116, 0.945);
    height: 1px;
}
#ligne2{
    width: 235px;
    color: rgba(117, 116, 116, 0.945);
    height: 1px;
}
.Sidebar{
   background-color: white;
    display:grid;
    width:235px;
    height: 573px;
   }
  
 div.Sidebar{
    border-right: 1px rgba(117, 116, 116, 0.945) solid ;   
    
 }
.Sidebar>div
{
height : auto ;
}
.Home{
 border-bottom: 1px black solid  ;
}
.Quick_Icon{

    display:flex;
    font-size:1.6rem;
    padding: 10px;
    float: left;
    
    }
    
    .Quick_Icon>div{
        padding:0 12px;
        float: left;
    }
    div.Quick_Icon:hover {
        width:215px;
        background-color: rgb(221, 218, 218);
      }
.Main{
display :grid ;
width :83% ;
}
  
.Main > div {

margin : 8px 2px ;

}
.Videos {
    
    display: grid;
    grid-template-columns: repeat(auto-fill,199px);
    justify-content: space-around;
    padding-right: 30px;
    flex-wrap: wrap;
    margin: 10px auto;
    grid-gap: 4vh;
    
    

}
Video {
  justify-content: space-around;
  float: left;
  margin:8px; 
 
}

.Logo{

    display:flex;
    
    }
.Logo>div{
    padding: 0 12px;
    }
    
    
    
.view{
        float: center;
        font-size: 1.5rem;
        color: grey;
    }
    #site{
        float:left
        
    }
    